body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    overflow: hidden;
    cursor: none; /* Hide the default cursor */
}

#custom-cursor {
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: #333;
    border-radius: 0 0 5px 5px ;
    border: 2px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: none; /* Prevents cursor from interfering with other elements */
    transition: height 0.2s;
}

#blade {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 0;
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.8));
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);
    border-radius: 5px 5px 0 0;
    transition: height 0.2s ease-in-out;
}


#fetch-btn {
    background: linear-gradient(45deg, #ffcc00, #ff6600, #ff0000, #ffcc00);
    background-size: 400% 400%;
    color: #222;
    border: 5px solid transparent;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    animation: pulse 2s infinite, color-change 5s infinite, spin 10s infinite linear, glow 1.5s infinite alternate, gradient-shift 15s infinite;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#fetch-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ffcc00, #ff6600, #ff0000, #ffcc00);
    background-size: 400% 400%;
    z-index: -1;
    filter: blur(50px);
    animation: gradient-shift 15s infinite;
}

.character {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.character.fade-in {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px rgba(255, 204, 0, 1);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
    }
}

@keyframes color-change {
    0% {
        background-color: #ffcc00;
    }
    33% {
        background-color: #ff6600;
    }
    66% {
        background-color: #ff0000;
    }
    100% {
        background-color: #ffcc00;
    }
}



@keyframes glow {
    from {
        border-color: rgba(255, 204, 0, 0.3);
    }
    to {
        border-color: rgba(255, 204, 0, 1);
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}